body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img{
  max-height: 90px;
}

button{
  height: 50px; 
  width: 50px;
  margin-bottom: 10px;
}

.button-toolbar-bg{
  height: 70px;
  border: blueviolet;
  background-color: rgb(82, 161, 252);
  margin-bottom: 20px;
  padding: 10px;
}
